* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.toolBar {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    background-color: #d5d5d5;
    left: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 2em;
    border-radius: 2em;
    border: 1px solid black;
}

body.drawing .toolBar {
    top: -7em;
}

.toolBar * {
    font-size: 16px;
    height: 3em;
    width: 7em;
    border-radius: 0.5em;
    margin-top: 0.2em;
    margin-right: 0.8em;
}

@media (max-width:780px) {
    .toolBar * {
        font-size: 12px;
    }
}

.toolBar button {
    font-weight: 700;
    color: #d5d5d5;
}

.toolBar .download-btn {
    background-color: #FF9800;
}

.toolBar .download-btn a {
    text-decoration: none;
    color: #d5d5d5;
}

.toolBar .clear-btn {
    background-color: #F44336;
}

.upload-btn {
    background-color: #3F51B5;
}

.upload-input-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: 3em;
    display: flex;
    align-items: center;
    background-color: #F44336;
    border-radius: 0.5em;
}

input.file-input {
    width: fit-content;
    height: fit-content;
    color: #d5d5d5;
    font-size: 1.5em;
    padding-left: 0.5em;
}